.fc-toolbar {

  @include grid-column-row(0);

  .fc-clear {
    clear: both;
  }

  .fc-left {
    float: left;
    padding: 0 1rem 0 0;

    h2 {
      margin: 0;
      font-size: 1.875rem;
      line-height: 2.5rem;
    }
  }

  .fc-right {
    float: right;
    text-align: right;
    @include button-group('.fc-button', 0);

  }

  .fc-button {
    @extend .button;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 0;

    &.fc-basicWeek-button {
      margin-right: 1rem;
      border-left: none;
    }

    &.fc-next-button {
      border-left: none;
    }

    &.fc-today-button {
      margin-right: 1rem;
    }

    &[disabled], &[disabled]:hover, &[disabled]:focus {
      background-color: $alert-color;
    }

    .fc-icon-left-single-arrow:after {
      content: "\02039";
      line-height: 1;
    }

    .fc-icon-right-single-arrow:after {
      content: "\0203A";
      font-weight: bold;
      line-height: 1;
    }

    .fc-icon {
      font-family: Consolas, "Courier New", Courier, monospace;
      font-weight: bold;
    }
  }

}

.fc-view {

  table {
    border-spacing: 0;
    margin: 0;

    .fc-head-container, .fc-widget-content {
      padding: 0;
    }

    table {
      margin: 0;
    }

    thead, tbody {
      border: none;
    }

    th, td {
      width: (100% / 7);
    }

    th {
      text-align: center;
    }

    thead > tr > td {
      height: auto;
    }

    tbody {
      & > tr > td {
        height: 7rem;
        border-right: 1px solid $light-gray;
        background: $white;

        &.fc-event-container {
          height: auto;
        }

        &:first-child {
          border-left: 1px solid $light-gray;
        }

        &.fc-past {
          height: auto;
        }

        &.fc-widget-content {
          border: none;
          border-bottom: 1px solid $light-gray;
        }
      }

      & > tr:nth-child(n+2) {
        td {
          height: auto;
        }
      }
    }

    td {
      text-align: left;

      &.fc-day-top {
        background: $light-gray;
        color: $primary-color;
        padding-top: .25rem;
        padding-bottom: .25rem;
        text-align: left;

        &.fc-today {
          background: $secondary-color !important;
          color: $white;
        }

        &.fc-other-month {
          background: lighten($light-gray, 5%);
          color: lighten($medium-gray, 5%);

          &.fc-today {
            background: transparentize($secondary-color, .7);
            color: $white;
          }
        }
      }

    }

    .fc-event-container {
      vertical-align: top;

      // Reduce height off multi-day events
      &[colspan] {
        .fc-event {
          text-align: left;
        }

        .fc-time, .fc-title {
          display: inline;
        }

        .fc-time {
          padding-right: .25rem;
        }
      }
    }

  }

}

.fc-event {
  display: block;
  background: $primary-color;
  color: $white;
  padding: .25rem .5rem;
  text-align: center;

  transition: background-color .15s linear;

  &:hover, &:focus {
    background: $alert-color;
    color: $white;
  }

  .fc-time {
    display: block;
    font-size: .875rem;
  }

  .fc-title {
    display: block;
    font-weight: $global-weight-bold;
    line-height: 1.2;
    padding-bottom: .2rem;
  }
}

.fc-row {
  position: relative;

  .fc-bg {
    min-height: 8rem;
  }

  .fc-content-skeleton {
    min-height: 8rem;
    position: relative;
    z-index: 5;
  }
}

.fc-bg,
.fc-bgevent-skeleton,
.fc-highlight-skeleton,
.fc-helper-skeleton {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.fc-bg {
  bottom: 0; /* strech bg to bottom edge */
  table {
    height: 100%;
  }
}

.fc-day-header {
  background: $primary-color;
  color: $white;
}

// List View
.fc-list-table {
  .fc-widget-header {
    background: $primary-color;
    color: $white;
    font-weight: $global-weight-bold;
    height: auto !important;

    .fc-list-heading-alt {
      padding-left: 1em;
      font-weight: $global-weight-normal;
      font-size: rem-calc(14);

      &:before {
        content: "(";
      }

      &:after {
        content: ")";
      }
    }
  }

  .fc-list-item {
    td.fc-widget-content {
      height: auto !important;
      padding: $table-padding;
    }

    td.fc-list-item-time {
      white-space: nowrap;
    }

    td.fc-list-item-marker {
      width: 0 !important;
      padding: 0;
      .fc-event-dot {
        display: none;
      }
    }

    td.fc-list-item-title {
      width: 100%;

      a {
        color: $primary-color;
        &:hover, &:focus {
          color: $alert-color;
        }
      }
    }
  }

}

.fc-list-empty {
  @include callout;
}

// Hide today button on small screens
.fc-toolbar .fc-today-button {
  display: none;
  @include breakpoint(medium) {
    display: inline-block;
  }
}

/* **********
 * Calendar
   ********** */
.event {
  margin-top: 1rem;
  &:first-child {
    margin-top: 0;
  }
}

// calendar icon background
.event-date-wrapper {
  background: url(../images/calendar.png) center top no-repeat;
  background-size: contain;

  a.event-date {
    display: block;
    padding: 45% 3.125% 10% !important;
    color: $secondary-color;
    text-align: center;
    line-height: 1;
    font-size: rem-calc(12);
    font-family: $header-font-family;

    span {
      display: block;
      font-size: 166.66%;
      font-weight: $global-weight-bold;
      line-height: 1.1;
    }
  }
}

.event-desc {
  padding-top: .5rem;

  .event-desc-header {
    font-size: 1rem;
    text-transform: none;
    margin: 0 0 .2rem;
    word-wrap: break-word;
  }

  p {
    line-height: 1.35;
    font-size: rem-calc(14);
    margin: .4rem 0 0;
  }

}

.events-backlink {
  margin-top: $paragraph-margin-bottom;
}
