/*
W.I.S.V. 'Christiaan Huygens'
'Hulde ende Bravo'

@TODO: Split 'chapters' into separate files.
*/

/* **********
X. Mix-ins
********** */
@mixin inverted-anchor() {
  color: $primary-color;
  &:hover, &:focus {
    color: $alert-color;
  }
}

/* **********
0. Global
********** */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  &.is-reveal-open {
    overflow: visible; // Prevent scrollbar flickering
  }
}

.page-container {
  flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  transition: color .2s;
  a {
    @include inverted-anchor();
  }
}

h1 {
  text-transform: uppercase;
}

h3 {
  font-weight: $global-weight-bold;
  margin: $header-margin-bottom 0 0;
}

// Create h.small classes (small heading size on medium up displays)
@each $header, $header-settings in map-get($header-styles, 'small') {
  @include breakpoint(medium) {
    #{$header}.small {
      font-size: rem-calc(map-get($header-settings, 'font-size'));
    }
  }
}

p:last-child {
  margin-bottom: 0;
}

a {
  transition: color .2s;
}

// Fix element widths on medium up
@include breakpoint(medium) {
  blockquote {
    width: 80%;
  }
}

address {
  font-style: normal;
}

blockquote {
  background: $light-gray;
  margin: $paragraph-margin-bottom 0;
  padding: 1.5rem 2rem;

  h1 {
    font-size: rem-calc(22);
    text-transform: none;
  }

  @include breakpoint(medium down) {
    padding: 1rem;

    h1 {
      font-size: rem-calc(18);
    }
  }

  p {
    padding-left: 3rem;
    font-size: rem-calc(16);
    color: $black;
    width: 100%;

    &:before {
      content: "\201C";
      font: bold italic 50px / 1 "Noto Sans";

      position: absolute;
      margin-left: -2.8rem;
      margin-top: -2px;
      color: $primary-color;
    }
  }

  h1 + p {
    margin-top: 1rem;
  }
}

table {
  thead {
    td {
      text-align: center;
      color: $white;
      padding-top: .5rem;
      padding-bottom: .5rem;
      font-size: 14px;
      text-transform: uppercase;
      font-family: $header-font-family;
      line-height: 1;
    }
  }
}

// Change text selection color
::selection {
  background: $secondary-color;
  color: $white;
}

/* **********
0.X Breadcrumbs
********** */
#breadcrumbs {
  margin: 1rem 0 ($global-margin * 2);
  padding: 0;
  font-size: $breadcrumbs-item-font-size;
  text-align: center;

  .breadcrumb_last {
    color: $breadcrumbs-item-color;
  }

  @include breakpoint(medium) {
    margin: $breadcrumbs-margin;
    text-align: left;
  }

  a {
    color: $medium-gray;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  .sep {
    margin: 0 $breadcrumbs-item-margin;
    color: $medium-gray;
  }

}

/* **********
0.X Buttons
********** */
$wisv-button-height-small: 3.5rem;
$wisv-button-border-small: .25rem;
$wisv-button-padding-small: 0 1.5rem 0 5rem;
$wisv-button-fontsize-small: rem-calc(16);

$wisv-button-height-medium: 3.75rem;
$wisv-button-border-medium: .25rem;
$wisv-button-padding-medium: 0 1.5rem 0 5rem;
$wisv-button-fontsize-medium: rem-calc(18);

$wisv-button-height-large: 4.375rem;
$wisv-button-border-large: .25rem;
$wisv-button-padding-large: 0 1.5rem 0 5rem;
$wisv-button-fontsize-large: rem-calc(20);

$wisv-button-lineheight-small: $wisv-button-height-small - 2 * $wisv-button-border-small;
$wisv-button-lineheight-medium: $wisv-button-height-medium - 2 * $wisv-button-border-medium;
$wisv-button-lineheight-large: $wisv-button-height-large - 2 * $wisv-button-border-large;

// @TODO rewrite using new button styles, should result in much less code
.wisv-button {
  display: block;
  position: relative;

  height: $wisv-button-height-small;
  line-height: $wisv-button-lineheight-small;
  padding: 0 1.5rem 0 5rem;

  color: $white;
  font-size: $wisv-button-fontsize-small;
  font-weight: $global-weight-bold;
  font-family: $header-font-family;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: right;
  border: $wisv-button-border-small solid transparent;

  &, &:before {
    transition: all .2s;
  }

  // Hover / focus
  &:hover, &:focus {
    background-color: $white !important;
  }

  // Colors
  &.red {
    background-color: $alert-color;
    &:hover, &:focus {
      &, &:before {
        color: $alert-color;
        border-color: $alert-color;
      }
    }
  }

  &.blue {
    background-color: $secondary-color;
    &:hover, &:focus {
      &, &:before {
        color: $secondary-color;
        border-color: $secondary-color;
      }
    }
  }

  &.last {
    @include breakpoint(small only) {
      margin-top: $global-margin;
    }

    @include breakpoint(large only) {
      margin-top: $global-margin;
    }
  }

  // Icons
  &:before {
    position: absolute;
    display: block;

    top: 0;
    left: .5rem;

    width: $wisv-button-height-small;
    height: $wisv-button-height-small;

    text-align: center;
    line-height: $wisv-button-lineheight-small;
    font-size: 222%;

    color: $white;

  }

  // Responsive
  @include breakpoint(medium) {
    font-size: $wisv-button-fontsize-medium;
    height: $wisv-button-height-medium;
    line-height: $wisv-button-lineheight-medium;
    padding: $wisv-button-padding-medium;
    border-width: $wisv-button-border-medium;
    &:before {
      width: $wisv-button-height-medium;
      height: $wisv-button-height-medium;
      line-height: $wisv-button-lineheight-medium;
    }
  }

  @include breakpoint(large) {
    font-size: $wisv-button-fontsize-large;
    height: $wisv-button-height-large;
    line-height: $wisv-button-lineheight-large;
    padding: $wisv-button-padding-large;
    border-width: $wisv-button-border-large;
    &:before {
      width: $wisv-button-height-large;
      height: $wisv-button-height-large;
      line-height: $wisv-button-lineheight-large;
    }
  }

  @include breakpoint(xlarge) {
    &.last {
      margin-top: 10.625rem - 2 * $wisv-button-height-large;
    }
  }
}

/* **********
0.X Panels
********** */
.wisv-panel {
  border: 3px solid $light-gray;

  & + .wisv-panel {
    margin-top: $global-margin;
  }

  .wisv-panel-heading {

    background: $primary-color;
    padding: 0 1rem;
    height: 3rem;

    text-transform: uppercase;
    font-family: $header-font-family;
    font-size: rem-calc(20);
    font-weight: $global-weight-bold;

    h1 {
      font-size: rem-calc(20);
      color: $white;
      margin: 0;
      line-height: 3rem;
      overflow: hidden;
    }

    a {
      color: $white;
      &:hover, &:focus {
        color: $alert-color;
      }
    }

    small {
      float: right;
      line-height: 3rem;
      font-size: rem-calc(14);
    }

    i[class^="ch-"]:before,
    i[class*=" ch-"]:before {
      padding-left: .25em;
    }

    // Make headings bigger on larger screens
    @include breakpoint(medium) {
      height: 4rem;
      font-size: rem-calc(24);

      h1 {
        font-size: rem-calc(24);
        line-height: 4rem;
      }

      small {
        line-height: 4rem;
        font-size: $small-font-size;
      }
    }
  }

  .wisv-panel-content {
    padding: 1rem;

    & > ul {
      list-style: none;
      margin: 0;
    }

    p {
      padding-right: 0;
    }

  }

}

/* **********
0.X Row with thumbnail
********** */
.icon-row {
  display: table;

  .icon-cell {
    display: table-cell;
    width: 5rem;
    min-width: 5rem;

    a {
      display: block;
      width: 100%;
      padding-top: 100%;
      background-position: center;
      background-size: cover;
    }
  }

  .text-cell {
    display: table-cell;
    width: auto;
    vertical-align: middle;
    padding-left: 1rem;
  }
}

/* **********
1. Header
********** */

.page-header {
  z-index: 1;
  background-color: #fff;

  body.menu-open & {
    background-color: $primary-color;
  }
}

/* **********
1.1 Logo
********** */

.logo-wrapper {
  position: relative;

  @include breakpoint(large) {
    padding-left: map-get($grid-column-gutter, medium) / 2;
  }

  .logo {

    @include breakpoint(xlarge) {
      margin-top: 0;
      img {
        height: 110px;
      }
    }

  }
}

/* **********
1.2 Top bar (large up)
********** */

$topbar-height: rem-calc(90);

// Crazy background solution
@include breakpoint($topbar-unstack-breakpoint) {
  .wisv-header {

    height: $topbar-height;

    &.left {
      @include clearfix;
      width: 100%;
      background: url(../images/top-bar-bg.png) 52px -180px repeat-x;
      position: relative;
      z-index: 3; // put above page title section
    }

    &.right {
      width: 50%;
      float: right;
      background: url(../images/top-bar-bg.png) 0 0 repeat-x;

      .center {
        margin-left: $grid-row-width / -2;
        @include breakpoint(large down) {
          margin-left: -100%;
        }
      }
    }

  }
}

.top-bar {
  font-family: $header-font-family;
  position: relative;
  z-index: 10;

  .top-bar-right {
    background: url(../images/top-bar-bg.png) -93px -90px no-repeat;
    @include breakpoint($topbar-unstack-breakpoint) {
      padding-left: 65px;
      padding-right: map-get($grid-column-gutter, medium) / 2;
    }

    @include breakpoint(large only) {
      padding-left: 30px;
    }
  }

  .menu {
    background: url(../images/top-bar-bg.png) 0 0 repeat-x;

    > li {

      &:first-child {
        padding-left: 0;
      }

      @include breakpoint($topbar-unstack-breakpoint) {
        padding: 0 .9rem;
        vertical-align: middle;
        height: $topbar-height;

        &:last-child {
          padding-right: 0;
        }
      }

      // Remove left padding from leftmost menu item
      @include breakpoint(xlarge only) {
        &:first-child {
          padding-left: 0;
        }
      }

      a {
        @include inverted-anchor();
        text-transform: uppercase;
        font-weight: $global-weight-bold;
        letter-spacing: 1px;

        @include breakpoint($topbar-unstack-breakpoint) {
          border-bottom: 3px solid transparent; // compensate for active menu item border
          border-top: 3px solid transparent; // compensate for line-height
          padding-left: .2rem;
          padding-right: .2rem;

          &.active {
            border-bottom-color: $primary-color;
          }

          &.login-button {
            color: $white;
            font-size: 1rem;
            padding: .3rem 1.75rem;
            border-bottom-color: $button-background; // fixes animation quirk
            border-top-color: $button-background; // fixes animation quirk
            &.account-button {
              padding-left: 1rem;
              padding-right: 1rem;
            }
            &:hover, &:focus {
              color: $alert-color;
            }
          }
        }

      }

      @include breakpoint(medium down) {

        // Menu items
        a, .login-button {
          background: $primary-color;
          color: $white;
          border: none;
          border-bottom: 1px solid $light-gray;
          padding-top: 1rem;
          padding-bottom: 1rem;
          letter-spacing: 0;
          font-size: 1rem;
          text-align: left;

          &:hover, &:focus {
            color: $primary-color;
            background: $white;
          }
        }
      }

      // Create more breathing room for the menu
      @include breakpoint($topbar-unstack-breakpoint only) {

        a {
          font-size: rem-calc(15);
          padding-left: .2rem;
          padding-right: .2rem;

          &.login-button {
            font-size: rem-calc(15);
            padding-left: .5rem;
            padding-right: .5rem;
            &.account-button {
              padding-left: .5rem;
              padding-right: .5rem;
            }
          }
        }

      }

    }
  }

}

/* **********
1.3 Title bar (medium down)
********** */
$titlebar-height: 55px;

.title-bar {
  font-family: $header-font-family;
  z-index: 2;
  position: relative;

  background: url(../images/top-bar-bg.png) 0 -115px repeat-x;

  .column {
    height: $titlebar-height;
  }

  a.logo-small {
    float: left;
    position: relative;

    padding: 4px 0;
    margin-left: map-get($grid-column-gutter, small) / 2;
    z-index: 10;

    @include breakpoint(medium) {
      margin-left: map-get($grid-column-gutter, medium) / 2;
    }

    img {
      width: 150px;
      max-width: none;
      z-index: 10;

      // Slightly larger logo for medium screens
      @include breakpoint(medium only) {
        width: auto;
        max-height: 70px;
      }

    }

  }

  a.login-button {
    display: none;
    font-size: 1rem;
    color: $white;
    font-size: 1rem;
    padding: .3rem 1.75rem;
    text-transform: uppercase;
    font-weight: $global-weight-bold;
    margin: rem-calc(11) 1.5rem 0 0;
  }

  .bg-left {
    z-index: 2;
    background: url(../images/top-bar-bg.png) 0 0 no-repeat;
    background-position: right -59px;
  }

  .bg-right {
    background: url(../images/top-bar-bg.png) 0 0 repeat-x;
    z-index: 1;
  }

  background-size: 121px auto;
  .bg-left, .bg-right {
    background-size: 121px auto;
  }

}

.wisv-menu-icon {
  outline: 0 none;
  height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2 + $hamburger-padding-y * 2;
}

// Show login button on medium
@include breakpoint(medium only) {
  .title-bar {
    a.login-button {
      display: block;
      float: left;
    }
  }

  .top-bar .login-button {
    display: none;
  }

}

/* **********
2. Page title
********** */

.page-title {
  position: relative;
  z-index: 1;
  background-color: $primary-color;
  background-size: cover;
  background-position: center;
  margin-top: -22px;
  padding: 6px 0 16px;

  .column {
    padding-top: 1rem;
  }

  @include breakpoint($topbar-unstack-breakpoint) {
    margin-top: -35px;
    padding: 35px 0 0;
    .column {
      padding-top: 0;
      padding-bottom: 6px; // dotted border compensation (visually centered)
      height: rem-calc(192px + 35px); // 12rem + padding-top
    }
  }

  // Add dotted border if no subpages or no background image
  &.dotted-border {
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 6px;

      position: absolute;
      bottom: 0px;

      background: url(../images/dotted-border.png) center top repeat-x;

      @include breakpoint(retina) {
        background-image: url(../images/dotted-border@2x.png);
        background-size: 23px auto;
      }
    }
  }

  h1 {
    font-weight: $global-weight-bold;
    color: $white;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    text-align: center;
    margin: 0;
  }

  @include breakpoint(medium) {

    .column {
      display: table;
      height: 12rem;

      h1 {
        display: table-cell;
        vertical-align: middle;
        padding: 0 10rem; // Shorten line by 20rem
      }
    }

  }
}

/* **********
2. Sub-nav
********** */

.sub-nav {
  background: $primary-color;

  .menu {
    text-align: center;
    padding: 1.1rem 0;

    & > li {
      display: inline-block;

      // Add separator
      & + li:before {
        content: "\00a0\00a0";
        @include breakpoint(medium) {
          content: " | ";
        }

        font: $global-weight-bold 14px / 1.2 $header-font-family;
        color: $white;
        vertical-align: text-top;
      }

      & > a {
        display: inline;
        padding: 0;
        margin: 0 .5rem;

        color: $white;
        font: bold 14px / 1.2 $header-font-family;
        text-transform: uppercase;
        letter-spacing: .2px;
        vertical-align: text-top;

        &:hover,
        &:focus,
        &.active {
          border-bottom: 2px solid $white;
        }
      }
    }
  }
}

/* **********
3. Page styles
********** */

main.shrink {

  @include breakpoint(large) {
    & > .row {
      padding-left: rem-calc(184); // based on logo
      padding-right: rem-calc(184);
    }
  }

}

ul.share {
  list-style: none;
  padding: .5rem .5rem .4rem;
  margin: 2rem 0 0;

  border-top: 3px solid $light-gray;
  border-bottom: 3px solid $light-gray;

  li {
    display: inline;
    padding-right: 1rem;
    font-size: 1rem;

    a {
      vertical-align: middle;
      color: $secondary-color;
      &:hover, &:focus {
        color: $alert-color;
      }
    }

    &.text {
      font: $global-weight-bold 14px / 1.5 $header-font-family;
      color: $primary-color;
      text-transform: uppercase;
    }
  }
}

/* **********
3.1 Company overview
********** */

/* Company page */
.wisv-panel .wisv-panel-content > ul.company-details {
  margin: 0 0 1rem 2rem;
  word-wrap: break-word;

  a {
    @include inverted-anchor();
  }

  i {
    color: $secondary-color;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.company-logo {
  text-align: center;
  margin: 0 0 1rem;

  @include breakpoint(medium) {
    padding: 0 2rem;
    margin: 1rem 0 2rem;
  }

  img {
    width: auto;
    max-height: 10rem;
  }
}

/* **********
3.2 Job Opening
********** */
.excerpt-job-opening {

  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }

  .thumbnail {
    background-size: contain;
    background-repeat: no-repeat;
  }

  h2 {
    font-size: 20px;
  }

  p {
    margin: .75rem 0 1rem;
  }

}

/* **********
3.3 User login form
********** */

.user-login-form {
  .row {
    margin-bottom: 1rem;
  }

  &:not(.user-login-modal) {
    margin: 4rem auto;

    @include breakpoint(medium up) {
      width: 50%;
    }
  }
}

#login-form.reveal {

  @include breakpoint(medium only) {
    width: 60%;
  }
}

.openid-button-left .openid-connect-login-button {
  text-align: left !important;;
}

/* **********
3.4 News overview
********** */

/* **********
4. Front Page
********** */
.front-page {

  .section-even, .section-odd {
    padding: 2rem 0;

    @include breakpoint(large) {
      padding: 3rem 0;
    }
  }

  .section-odd {
    background: $light-gray;
  }

  // Remove extra padding for adjacent sections
  .section-even + .section-even {
    padding-top: 0;
  }
  .section-odd + .section-odd {
    padding-top: 0;
  }

  // Less padding below news/calendar
  .calendar-news {
    padding-bottom: map-get($grid-column-gutter, 'small');
    @include breakpoint(medium) {
      padding-bottom: map-get($grid-column-gutter, 'medium');
    }

    @include breakpoint(medium down) {
      .wisv-column-block {
        @include grid-column-margin();
      }
    }
  }

}

/* **********
4.1 Slider
********** */

.orbit, .orbit-container, .orbit-slide, .page-title.slider {
  padding: 0;
  width: 100%;
  height: 22rem !important; // GRRRR
  max-height: none !important;
}

.orbit-container {
  position: relative;
  top: -22px;
  @include breakpoint($topbar-unstack-breakpoint) {
    top: -35px;
  }
}

.orbit-slide {
  background-size: cover;
  background-position: center;
}

.orbit-caption {
  position: absolute;
  top: 0;
  bottom: auto;

  height: 100%;
  width: 100%;

  display: table;
  vertical-align: middle;

  h1 {
    font-size: rem-calc(30);
    text-transform: none;

    a {
      color: $white;
    }
  }

  p {
    text-align: center;
    color: $white;
    font-size: rem-calc(16);
    line-height: 1.35;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
  }

  .button {
    text-shadow: none;
    font-size: rem-calc(14);
  }

  .align-middle {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    padding: 35px map-get($grid-column-gutter, 'small') 20px;

    p.button-par {
      margin-bottom: 0;
    }
  }
}

.orbit-bullets {
  position: absolute;
  bottom: .5rem;
  width: 100%;
  text-align: center;

  button {
    height: .8rem;
    width: .8rem;
    margin: 0 .25rem;
    padding: 0;
  }
}

// Responsive rules
@include breakpoint(medium) {

  .orbit, .orbit-container, .orbit-slide, .page-title.slider {
    height: 24rem !important;
  }

  .orbit-caption {
    h1 {
      font-size: rem-calc(40);
    }
    p {
      font-size: rem-calc(20);
      margin: 1rem 0 2rem;
    }
    .button {
      font-size: rem-calc(18);
    }
    .align-middle {
      padding: (rem-calc(35px) + 1rem) 10% 1rem;
    }
  }

  .orbit-bullets {
    bottom: 1rem;
    button {
      height: 1.1rem;
      width: 1.1rem;
    }
  }
}

@include breakpoint(large) {

  .orbit, .orbit-container, .orbit-slide, .page-title.slider {
    height: 32rem !important;
  }

  .orbit-caption {
    h1 {
      font-size: rem-calc(60);
    }
    p {
      font-size: rem-calc(24);
    }
    .button {
      font-size: rem-calc(20);
    }
    .align-middle {
      padding: (rem-calc(35px) + 1rem) 15% 1rem;
    }
  }

  .orbit-bullets {
    bottom: 1.5rem;
  }
}

/* **********
4.2 Intro text
********** */

/* **********
4.3 Calendar
********** */
.event {
  margin-top: 1rem;
  &:first-child {
    margin-top: 0;
  }
}

// calendar icon background
.event-date-wrapper {
  background: url(../images/calendar.png) center top no-repeat;
  background-size: contain;

  a.event-date {
    display: block;
    padding: 45% 3.125% 10%;
    color: $secondary-color;
    text-align: center;
    line-height: 1;
    font-size: rem-calc(12);
    font-family: $header-font-family;

    span {
      display: block;
      font-size: 166.66%;
      font-weight: $global-weight-bold;
      line-height: 1.1;
    }
  }
}

.event-desc {
  padding-top: .5rem;

  .event-desc-header {
    font-size: 1rem;
    text-transform: none;
    margin: 0 0 .2rem;
    word-wrap: break-word;
  }

  p {
    line-height: 1.35;
    font-size: rem-calc(14);
    margin: .4rem 0 0;
  }

}

.byline {
  color: $medium-gray;
  font-weight: $global-weight-bold;
  font-family: $header-font-family;
  font-size: rem-calc(14);
  line-height: 1.2;
  padding: 0;

  // Separator
  span {
    & + span:before {
      content: ",";
      padding: 0 .5em 0 0;
    }
  }

  @include breakpoint(medium) {
    span {
      display: inline-block;
      & + span:before {
        content: "|";
        padding: 0 .5em;
      }
    }
  }

  a {
    color: $medium-gray;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

/* **********
4.4 News
********** */

.next-prev-links {
  padding: 1rem 0;

  .button {
    margin-top: 0;
    &:last-child {
      float: right;
    }
  }
}

.separator-block {

  margin: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 3px dashed $light-gray;

  @include breakpoint(medium) {
    padding: 2rem 0;
  }

  &:first-child {
    margin-top: 2rem;
    border-top: 3px dashed $light-gray;
  }

}

.news-block {
  h1 {
    margin-top: 0;
  }

  header {
    img {
      float: left;
      max-height: 10rem;
      width: 10rem;

      margin: 0 1rem 0 0;
    }
  }
}

// Featured item
.news-featured {

  img {
    margin-bottom: 1rem;
    width: 100%;
  }

  h1 {
    text-transform: none;
    margin: 0;
  }

  .byline {
    color: $medium-gray;
    line-height: 1.35;
    margin: 0;
  }

  p {
    margin-top: 1rem;
    padding: 0;
    text-align: justify;
  }

  a {
    color: $body-font-color;
    &:hover {
      h1 {
        color: $alert-color;
      }
    }
  }
}

// News list
ul.news {

  li {
    margin: 0 0 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    @include breakpoint(medium down) {
      margin-top: 2rem;
    }
  }

  h2 {
    text-transform: none;
    margin: 0 0 .25rem;
  }

}

/* **********
4.5 Banner Bar
********** */
.banner-bar {
  .banner-container {
    display: block;
    width: 100%;
    height: 0;
    background-position: center;
    background-size: cover;

    padding-bottom: percentage(170 / 837);

    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
  }

  .wisv-buttons {

    @include breakpoint(medium down) {
      margin-top: $global-margin;
    }

    i[class^="ch-"]:before,
    i[class*=" ch-"]:before {
      padding-left: .35em;
    }

  }

}

/* **********
4.6 Gallery
********** */
.gallery {
  background: url(../images/alt-bg-overlay.png) 0 -15px repeat !important;

  .gallery-title {
    margin-bottom: 2rem;
    font-size: rem-calc(24);
    line-height: 1;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  .gallery-item-wrapper {

    .image-wrapper {
      display: block;
      width: 100%;
      padding-top: 56.25%; // 16:9

      background-position: center;
      background-size: cover;
    }

    &:hover, &:focus {
      .caption {
        background: $alert-color;
      }
    }
  }

  .caption {
    width: 100%;
    display: table;

    background: $primary-color;
    color: $white;
    text-align: center;

    transition: background-color .2s;

    .align-middle {
      width: 100%;
      display: table-cell;
      height: 4.5rem;
      vertical-align: middle;
      color: $white;
      padding: 0 1rem;
    }

    h1 {
      color: $white;
      margin: 0;
    }

    p {
      padding: 0;
      margin: 0;
    }
  }

  // Limit number of items on mobile devices
  @include breakpoint(small down) {
    .column:nth-child(n + 2) {
      display: none;
    }
  }

  @include breakpoint(medium only) {
    .column:nth-child(n + 3) {
      display: none;
    }
  }

}

/* **********
5. Portal
********** */

form.edit-profile-form {

  @include breakpoint(small only) {
    label.middle {
      margin: 0;
      padding: 0;
    }
  }

  label.inline {
    display: inline-block;
    margin-right: 1rem;
  }

  input[type="radio"] {
    margin-right: .25rem;
    margin-bottom: 1.5rem;
    position: relative;
    top: 1px;
  }

  input[readonly], input[disabled] {

    background: none 99% 60% no-repeat;
    background-size: $input-font-size + ($form-spacing / 2); // @see forms/_text.scss;
    box-shadow: none;
    cursor: pointer;
    border: 2px dashed $light-gray;
    position: relative;

    &:hover {
      background-image: url(../images/pencil-square-o.svg);
    }

  }

}

/* **********
6. Events Archive
********** */
.events-backlink {
  margin-top: $paragraph-margin-bottom;
}

/* **********
7. Custom Post Types
********** */
.thumbnail.prop {
  width: 100%;
  text-align: center;
  margin-bottom: .5rem;
  padding: .5rem 1rem;

  @include breakpoint(medium) {
    margin-bottom: 0;
  }

  &.nopad {
    padding: 0;
  }

  .thumb-image {
    width: 100%;
    padding-top: 62.5%;
    background-position: center;
    background-size: cover;

    &.contain {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

}

.excerpt-blockgrid {

  h2, p {
    text-align: center;
  }

  @include breakpoint(medium) {
    h2 {
      font-size: 1.25rem;
    }
  }

}

.roster-page {

  table {
    table-layout: fixed;

    tbody {
      td {
        font-size: rem-calc(15);

        &:first-child {
          text-align: right;
        }
      }
    }
  }

  &.has-photo {

    .wp-post-image {
      display: block;
      width: 100%;
      max-width: map-get($breakpoints, medium);
      margin: 0 auto 2rem;
    }

  }

  @include breakpoint(large) {
    table {
      max-width: 59%;
    }

    &.has-photo table {
      max-width: none;
    }
  }

}

/* **********
7.1 Board
********** */

.single-board .roster-page.has-photo {
  h1, p {
    text-align: center;
  }
}

/* **********
7.2 Commitees
********** */

/* **********
7.3 Honorary Members
********** */
.excerpt-honorary-member {

  .thumbnail.prop .thumb-image {
    padding-top: 120%;
  }

  img {
    width: 100%;
  }

  h2, p {
    text-align: center;
  }

}

.single-honorary_member .thumbnail {
  margin: 0 0 1rem 1rem;
}

/* **********
X. Career Dashboard
********** */
.page-template-template-career-dashboard .excerpt-job-opening {

  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }

  @include breakpoint(small only) {
    border-bottom: 2px dashed $light-gray;
    padding-bottom: 1rem;

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}

/* **********
X. Footer
********** */
.page-footer {
  margin-top: 4rem;
}

/* **********
X.1 Partners
********** */
$partner-height: 60px;
$partner-border-size: 4px;
$partner-padding-vertical: 10px;
$partner-inner-height: $partner-height - 2 * $partner-border-size - 2 * $partner-padding-vertical;

.partners {
  margin-top: 1.5rem;

  .partner {
    position: relative;
    display: block;
    height: $partner-height;

    margin: 0 0 1rem;
    padding: $partner-padding-vertical 0;

    text-align: center;

    border: $partner-border-size solid #d9dee5;
    transition: border-color .3s;

    img {
      width: auto;
      max-height: $partner-inner-height;
      display: block;
      margin: 0 auto;
    }

    .fallback-title {
      // Style text as fallback when no image is available
      font-family: $header-font-family;
      font-weight: $global-weight-bold;
      color: $primary-color;
      font-size: rem-calc(13);
      letter-spacing: -1px;
      line-height: $partner-inner-height;

      @include breakpoint(medium) {
        font-size: rem-calc(18);
        letter-spacing: 0;
      }

    }

    &:hover {
      border-color: $medium-gray;

      .partner-excerpt {
        visibility: visible;
        opacity: 1;
      }

    }
  }

  .partner-excerpt {

    position: absolute;
    top: $partner-height - $partner-border-size;

    left: -$partner-border-size;
    right: -$partner-border-size;

    visibility: hidden;
    z-index: 1;

    opacity: 0;
    transition: visibility 0s, opacity 500ms; // visibility transition needed for opacity transition to work

    background: #d9dee5;
    font-size: rem-calc(14);
    text-align: left;
    color: $black;
    padding: .5rem 1rem;
    line-height: $global-lineheight;

    .button {
      font-size: $global-font-size;
      color: $primary-color;
      letter-spacing: 0;
      text-transform: none;
      margin: .5rem 0 .25rem;

      &:hover {
        color: $alert-color;
      }

      .fa {
        vertical-align: middle;
      }
    }

  }
}

/* **********
X.2 Footer Top
********** */
.footer-top {

  position: relative;
  background: $light-gray;
  margin-top: 2rem;
  padding: 3rem 0 2rem;

  &.dotted-border {
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 6px;

      position: absolute;
      top: -6px;

      background: url(../images/dotted-border.png) 0 -10px repeat-x;

      @include breakpoint(retina) {
        background-image: url(../images/dotted-border@2x.png);
        background-size: 23px auto;
      }
    }
  }

  h1 {
    margin-bottom: 1rem;
  }

  .fa-ul i {
    color: $secondary-color;
  }

  a {
    color: $secondary-color;
    &:hover, &:focus {
      color: $alert-color;
    }
  }
}

/* **********
X.2.1 Twitter
********** */
.latest-tweets {
  ul {
    list-style: none;
    margin: 0 0 1rem;

    @include breakpoint(large) {
      margin-bottom: 0;
    }

    li {
      margin: 1rem 0 0;
      padding: 0;
      &:first-child {
        margin-top: 0;
      }
    }

    .tweet-text {
      font-size: rem-calc(15);
      margin: 0;
      line-height: 1.35;
      a {
        color: $primary-color;
        &:hover, &:focus {
          color: $alert-color;
        }
      }
    }

    .tweet-details {
      a {
        color: $medium-gray;
        font-weight: $global-weight-bold;
        font-size: rem-calc(13);
        &:hover, &:focus {
          color: $alert-color;
        }
      }
    }

  }
}

/* **********
X.3 Footer Bottom
********** */
.footer-bottom {
  background: $primary-color;
  padding: 1.1rem 0;

  p {
    color: $white;
    font-size: rem-calc(14);
    font-family: $header-font-family;
  }
}

/* **********
X. WordPress
********** */

.alignnone,
.aligncenter,
.alignleft,
.alignright {
  max-width: 100%;
  margin-bottom: $global-margin;
}

.alignnone {
  margin-left: 0;
  margin-right: 0;
}

.aligncenter {
  display: block;
  margin: $global-margin auto;
  height: auto;
}

@include breakpoint(medium) {

  .alignleft {
    float: left;
    margin-right: $global-margin;
  }

  .alignright {
    float: right;
    margin-left: $global-margin;
  }

}

// Captions
.wp-caption {
  background: $primary-color;
}

.wp-caption-text {
  padding: .2rem 1rem;
  color: $white;
  font-weight: $global-weight-bold;
  font-family: $header-font-family;
  text-align: center;
  font-size: rem-calc(13);
}

// Text meant only for screen readers
.screen-reader-text {
  display: none;
}

/* **********
X. Shortcodes
********** */
.attachment-card {

  max-width: map-get($breakpoints, medium);
  width: 100%;

  margin: $paragraph-margin-bottom 0;

  display: flex;
  flex-direction: row;

  background: lighten($light-gray, 5%);
  border: 2px solid $light-gray;
  color: $dark-gray;

  transition: .2s border-color;

  &:before {
    display: flex;
    flex-direction: column;
    align-self: center;

    //content: "\6b";
    font-family: wisvch;
    font-size: 2.25rem;
    text-align: center;
    color: $medium-gray;

    width: 5rem;

    line-height: 1;

    transition: .2s color;
  }

  &:hover {
    border-color: $secondary-color;
    color: $medium-gray;
    &:before {
      color: $secondary-color;
    }
  }

  article {
    width: 100%;
    padding: .5rem 1rem .5rem 0;
  }

  h6 {
    margin: 0;
  }
}

/* **********
X. Foundation overrides
********** */

// Use lists as columns
ul.column {
  margin: 0;
  list-style: none;
}

// thumbnail border hover
.thumbnail {
  margin-bottom: 0;
  &:hover, &:focus {
    border-color: $dark-gray;
  }
}

/* **********
X.1 Tabs
********** */
.tabs, .tabs-content {
  border-width: 4px;
}

.tabs-title {
  margin-right: 4px;

  a {
    text-transform: uppercase;
    @include inverted-anchor();
    font-weight: $global-weight-bold;
    font-family: $header-font-family;
  }
}

/* **********
X.2 Callouts
********** */
.callout {
  box-shadow: 1px 1px 2px darken($light-gray, 12%);
}

.close-button {
  background: $primary-color;
  border-radius: 1rem;

  width: 1.7rem;
  height: 1.7rem;

  text-align: center;
  font-size: 1.5rem;
  font-weight: $global-weight-bold;

  box-shadow: 1px 1px 2px darken($light-gray, 12%);

  &:hover,
  &:focus {
    background-color: $secondary-color;
  }
}

/* **********
X.3 Buttons
********** */
$button-border-width: 3px;

.button {
  font-family: $header-font-family;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  border: $button-border-width solid $button-background;

  // Default
  &:hover, &:focus {
    background: $button-background-hover;
    color: $button-background;
    border-color: $button-background;
  }

  // Colors
  @each $name, $color in $foundation-palette {

    &.#{$name} {
      border-color: $color;

      &:hover, &:focus {
        background: $button-background-hover;
        color: $color;
        border-color: $color;
      }

      &.hollow {
        border: $button-border-width solid $color;
        &:hover, &:focus {
          border-color: $color;
          background: $color;
          color: $button-color;
          &.alt { // y'all got any more of them edge cases? ...
            background: none;
            color: $primary-color;
          }
        }
      }
    }
  }

  &.alt {
    background: none;
    border: none !important;
    color: $alert-color;
    font-weight: bold;
    font-size: $global-font-size;
    padding: 0;

    &:hover, &:focus {
      color: $primary-color;
    }
  }

}

/* **********
X.3 FontAwesome helpers
********** */

$fa-li-width: 2.2rem;

.fa-ul {
  padding-left: 0;
  margin-left: $fa-li-width;
  list-style-type: none;

  & > li {
    position: relative;
  }

  i {
    margin-top: 3px;
  }
}

.fa-li {
  position: absolute;
  left: -$fa-li-width;
  width: $fa-li-width;
  top: 0;
  text-align: center;
}

.fa-fw {
  width: (18em / 14);
  text-align: center;
}