@charset "utf-8";

// Dependencies
//@import '../components/foundation-sites/_vendor/normalize-scss/sass/normalize';
@import '../components/foundation-sites/_vendor/sassy-lists/stylesheets/helpers/missing-dependencies';
@import '../components/foundation-sites/_vendor/sassy-lists/stylesheets/helpers/true';
@import '../components/foundation-sites/_vendor/sassy-lists/stylesheets/functions/purge';
@import '../components/foundation-sites/_vendor/sassy-lists/stylesheets/functions/remove';
@import '../components/foundation-sites/_vendor/sassy-lists/stylesheets/functions/replace';
@import '../components/foundation-sites/_vendor/sassy-lists/stylesheets/functions/to-list';
// Settings
@import 'settings';
// Global variables and styles
@import '../components/foundation-sites/scss/global';
// Components
//@import '../components/foundation-sites/scss/grid/grid';
@import '../components/foundation-sites/scss/typography/typography';
@import '../components/foundation-sites/scss/forms/forms';
@import '../components/foundation-sites/scss/components/visibility';
@import '../components/foundation-sites/scss/components/float';
@import '../components/foundation-sites/scss/components/button';
@import '../components/foundation-sites/scss/components/button-group';
@import '../components/foundation-sites/scss/components/accordion-menu';
@import '../components/foundation-sites/scss/components/accordion';
@import '../components/foundation-sites/scss/components/badge';
@import '../components/foundation-sites/scss/components/breadcrumbs';
@import '../components/foundation-sites/scss/components/callout';
@import '../components/foundation-sites/scss/components/card';
@import '../components/foundation-sites/scss/components/close-button';
@import '../components/foundation-sites/scss/components/drilldown';
@import '../components/foundation-sites/scss/components/dropdown-menu';
@import '../components/foundation-sites/scss/components/dropdown';
@import '../components/foundation-sites/scss/components/flex';
@import '../components/foundation-sites/scss/components/responsive-embed';
@import '../components/foundation-sites/scss/components/label';
@import '../components/foundation-sites/scss/components/media-object';
@import '../components/foundation-sites/scss/components/menu';
@import '../components/foundation-sites/scss/components/menu-icon';
@import '../components/foundation-sites/scss/components/off-canvas';
@import '../components/foundation-sites/scss/components/orbit';
@import '../components/foundation-sites/scss/components/pagination';
@import '../components/foundation-sites/scss/components/progress-bar';
@import '../components/foundation-sites/scss/components/reveal';
@import '../components/foundation-sites/scss/components/slider';
@import '../components/foundation-sites/scss/components/sticky';
@import '../components/foundation-sites/scss/components/switch';
@import '../components/foundation-sites/scss/components/table';
@import '../components/foundation-sites/scss/components/tabs';
@import '../components/foundation-sites/scss/components/title-bar';
@import '../components/foundation-sites/scss/components/top-bar';
@import '../components/foundation-sites/scss/components/thumbnail';
@import '../components/foundation-sites/scss/components/tooltip';

@mixin wisvch-foundation-everything($flex: false) {
  @if $flex {
    $global-flexbox: true !global; // 'Vo 59
  }

  //@include foundation-global-styles;
  @if not $flex {
    //@include foundation-grid;
  } @else {
    //@include foundation-flex-grid;
  }

  @include foundation-typography;
  @include foundation-forms;
  @include foundation-button;
  //@include foundation-accordion;
  //@include foundation-accordion-menu;
  //@include foundation-badge;
  //@include foundation-breadcrumbs;
  @include foundation-button-group;
  @include foundation-callout;
  //@include foundation-card;
  @include foundation-close-button;
  //@include foundation-menu;
  //@include foundation-menu-icon;
  //@include foundation-drilldown-menu;
  //@include foundation-dropdown;
  //@include foundation-dropdown-menu;
  @include foundation-responsive-embed;
  @include foundation-label;
  @include foundation-media-object;
  //@include foundation-off-canvas;
  //@include foundation-orbit;
  //@include foundation-pagination;
  //@include foundation-progress-bar;
  //@include foundation-slider;
  //@include foundation-sticky;
  //@include foundation-reveal;
  //@include foundation-switch;
  @include foundation-table;
  @include foundation-tabs;
  @include foundation-thumbnail;
  //@include foundation-title-bar;
  //@include foundation-tooltip;
  //@include foundation-top-bar;
  @include foundation-visibility-classes;
  @include foundation-float-classes;

  @if $flex {
    @include foundation-flex-classes;
  }
}

// Load Foundation
@include wisvch-foundation-everything;

// WISV CH custom icon font (made with Fontastic)
@import '../fonts/font-wisvch.css';

// W.I.S.V. 'Christiaan Huygens'
@import "components/mixins";
@import "components/generic";
@import "components/panels";
@import "components/wisv-buttons";
//@import "components/base";
//@import "components/front-page";
@import "components/post-type";
@import "components/portal";
//@import "components/shortcodes";
@import "components/wordpress";
@import "components/foundation";
//@import "components/misc";

// Extra CSS
body {
  background: $body-background;

  font-family: $body-font-family;
  font-weight: $global-weight-normal;
  line-height: $global-lineheight;
  color: $body-font-color;

  @if ($body-antialiased) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
