/* **********
1. Shortcodes
********** */
.attachment-card {

  max-width: map-get($breakpoints, medium);
  width: 100%;

  margin: $paragraph-margin-bottom 0;

  display: flex;
  flex-direction: row;

  background: lighten($light-gray, 5%);
  border: 2px solid $light-gray;
  color: $dark-gray;

  transition: .2s border-color;

  &:before {
    display: flex;
    flex-direction: column;
    align-self: center;

    //content: "\6b";
    font-family: wisvch;
    font-size: 2.25rem;
    text-align: center;
    color: $medium-gray;

    width: 5rem;

    line-height: 1;

    transition: .2s color;
  }

  &:hover {
    border-color: $secondary-color;
    color: $medium-gray;
    &:before {
      color: $secondary-color;
    }
  }

  article {
    width: 100%;
    padding: .5rem 1rem .5rem 0;
  }

  h6 {
    margin: 0;
  }
}
